$colors: (
  appWhite: #e4e4e4,
  appBlue: #61e5ed,
  appGray: #A7A7A7,
  appDark: #1D1D1D
);

@function color($colorName) {
  @return map-get($colors, $colorName);
}

@mixin media($min-width){
  @media only screen and (min-width: $min-width){
    @content;
  }
}
*:focus{
  outline-color: color(appBlue);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  background: #111217;
  color: color(appWhite);
}

a {
  text-decoration: none;
  color: color(appWhite);
  transition: .2s ease-in;
  &:hover {
    color: color(appBlue);
  }
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.title{
  font-size: 42px;
  margin-bottom: 40px;
  position: relative;
  &::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    background: color(appBlue);
    width: 60px;
    height: 3px;
    content: '';
  }
}

.text{
  margin: 20px 0;
}

.subTitle{
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}
