.wrapper {
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
  @include media(768px) {
    max-width: 720px;
  }
  @include media(992px) {
    max-width: 960px;
  }
  @include media(1200px) {
    max-width: 1140px;
  }
}

section.wrapper {
  padding: 60px 20px 0 20px;
}
.positionFixed{
  position: fixed;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.skills {
  &__icon {
    height: 100px;
    width: auto;
    margin: 20px;
    filter: grayscale(0.7);
    transition: 0.2s ease;
    will-change: transform;
    &:hover {
      transform: scale(1.1);
      filter: grayscale(0);
    }
  }
}

.footer {
  text-align: center;
  padding: 50px 20px 30px 20px;
}
